/* General */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://img.freepik.com/premium-vector/education-school-set-with-line-style-vector-design_548646-4008.jpg);
}

/* Header */
header {
    font-family: "Zilla Slab", serif;
    font-weight: 700;
    font-style: italic;
    width: 100%;
    background-color: purple;
    color: white;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Navigation */
nav {
    display: flex; 
    justify-content: space-around;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0 15px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ddd;
}

/* Main Section */
section {
    margin: 2rem auto;
    padding: 1rem;
    background-color: white;
}

/* Contenedor */
#contenedor {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 485px;
    width: 100%;
    text-align: center;
    overflow-x: auto;
}

/* Content Wrapper */
.content-wrapper {
    margin-top: 1%;
    display: flex; 
    gap: 20px; 
    align-items: flex-start;
    justify-content: center;
}

/* Promedio Notas */
.promedioNotas {
    width: 80%;
    max-width: 600px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Form Elements */
h1 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"],
input[type="number"] {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Buttons */
.neu-button {
    background-color: purple;
    color: white;
    border: none;
    padding: 10px 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.neu-button:hover {
    background-color: purple;
}

button[onclick="borrarEstudiantes()"] {
    margin-top: 10px;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button[onclick="borrarEstudiantes()"]:hover {
    transform: scale(1.05);
}

/* Table */
.result-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    display: block;
    max-height: 300px;
    overflow-y: auto;
}

.result-table th,
.result-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    white-space: nowrap;
}

.result-table th {
    background-color: purple;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}
